.popup__block {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}

@media screen and (max-width: 550px) {
  .popup__block {
    flex-direction: column;
    align-items: flex-end;
  }
}
