.popup__input-error {
  color: #ff0000;
  max-width: 358px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  padding-top: 5px;
}

@media screen and (max-width: 520px) {
  .popup__input-error {
    max-width: 238px;
  }
}

