.profile__info-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 380px) {
  .profile__info-block {
    justify-content: center;
    max-width: 284px;
  }
}
