.register__input-password{
    min-height: 27px;
    min-width: 358px;
    margin: 30px  0 0 0;
    background-color: #000000;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    color: #FFFFFF;
}